<html>

<body>
<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      <!-- sidebar content -->

      <p>ESTE ES EL SIDEBAR</p>
    </div>
    <div id="main-content" class="col-xs-9">
      <!--  main content -->
      <p>Here goes the content</p>
      <p>Here goes the content</p>

    </div>
  </div>
</div>
</body>
</html>
